<%
# The action url changes depending on wether we're POSTing a new team,
# or PUTing changes to an existing team.

  form_url = if @team && @team.id
    # update needs a path to /leagues/:league_id/teams/:id
    # and so needs the @team variable to grab @team.id
    league_team_path(@league, @team)
  else
    # create needs a path to /leagues/:league_id/teams
    league_teams_path(@league)
  end
%>
<%= form_with(url: form_url, model: @team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :team_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
