<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <%
        # Updated links for nested path
        %>
        <td><%= link_to 'Show', league_team_path(@league, team) %></td>
        <td><%= link_to 'Edit', edit_league_team_path(@league, team) %></td>
        <td><%= link_to 'Destroy', league_team_path(@league, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%
# Updated link for nested path
%>
<%= link_to 'New Team', new_league_team_path(@league) %>
