<h2>Now drafting for: <%= @current_team.name %></h2>
<% # Showing the round number
%><h2>Round: <%= @league.round + 1 %></h2>

<div class="draft_board">
  <div class="teams">
      <% @league.teams.each do |t|%>
        <p><%= t.name %></p>
        <% t.players.each do |p| %>
            <li class="picked_players"><%= p.position %>  <%=  p.name %></li>
        <% end %>
      <% end %>
  </div>

  <div class="all_players">
    <div>
      <h3>All Available Players</h3>
        <% @players.each do |player| %>
          <li>
            <%= player.rank %> <%= player.name %> <%= player.position %> <%= player.nfl_team %>
            <%= link_to "Draft", league_team_player_draft_path(@league, @current_team, player, index: (@index)), method: :post %>
          </li>
        <% end %>
    </div>
  </div>

  <div class="players_by_pos">
    <% for pos in @positions do %>
      <div>
        <h3>All Available <%= pos %>s</h3>
        <% @players.where(:position => pos).each do |player| %>
        <li>
          <%= player.rank %> <%= player.name %> <%= player.nfl_team %>
          <%= link_to "Draft", league_team_player_draft_path(@league, @current_team, player, index: (@index)), method: :post %>
        </li>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
