<h1>Draft player for <%= @current_team.name %></h1>

<div class="teams">
  <ul>
    <% @league.teams.each do |t|%>
      <li><%= t.name %></li>
      <% t.players.each do |p| %>
          <ol><%= p.position %>  <%=  p.name %></ol>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="players">
  <ul>
    <% @players.each do |player| %>
      <li>
        <%= player.name %>
        <%= link_to "Draft Player", league_team_player_draft_path(@league, @current_team, player, index: (@index + 1)), method: :post %>
      </li>
    <% end %>
  </ul>
</div>
