<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<ul>
  <% for teams in @league.teams %>
    <li><%= link_to teams.name, league_teams_path(teams) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %> |
<%= link_to 'Delete', league_path(@league), method: :delete %> |
<%= link_to 'Start Draft', draft_league_path(@league) %>
