<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<ul>
<%
  # We need to use the singular league_team_path helper here to build a
  # path for the one team /leagues/:league_id/teams/:id

  # the plural league_teams_path helper would build
  # a path for the teams index /leagues/:league_id/teams
%>
  <% for team in @league.teams %>
    <li><%= link_to team.name, league_teams_path(@league, team) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %> |
<%= link_to 'Delete', league_path(@league), method: :delete %> |
<%= link_to 'Start Draft', draft_league_path(@league) %>
